@import "tailwindcss";

@keyframes wiggle {
  0%, 70% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(2px);
  }
  80%{
    transform: translateX(-2px);
  }
  85%, 100% {
    transform: translateX(0);
  }
}

.animate-wiggle {
  animation: wiggle 4s ease-in-out infinite;
}